@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body{
    background-color: rgb(245, 245, 245);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: rgb(36, 36, 36);
}

.git img {
    width: 40px;
    left: 10px;
    top: 10px;
    position: fixed;
}

.extr-btns{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#clearBtn{
    padding: 10px 38px;
    width: auto;
}

.container{
    display: flex;
    justify-content: center;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

h1{
    padding: 25px 0;
    text-align: center;
    line-height: 1.2;
    font-size: 80px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    gap: 30px;
    width: 200px;
    height: 36em;
    background-color: #ddd;
}

.grid-value{
    font-weight: 500;
    font-size: 18px;
    color: rgb(36, 36, 36);
    text-align: center;
    margin-bottom: -15px;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-shadow: rgba(0, 0, 0, 0.459) 1px 3px 8px;
}
  
.grid-item {
    user-select: none;
    background-color: white;
}

.grid-item.line{
    border: 1px solid #ddd;
}

#boxContainer{
    margin-top: 15px;
}

button, input {
    width: 80%;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

button, input[type='color'],
.rainbow-button {
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover,
.rainbow-button:hover {
    transform: scale(1.05);
}

button {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 20px;
    border-radius: 20px;
}

button.active{
    background-color: black;
    color: rgb(239, 239, 239);
}


input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 70px;
    height: 56px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input[type='range'] {
    width: 80%;
    -webkit-appearance: none;
    background-color: white;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 6px;
    box-shadow: rgba(0, 0, 0, 0.459) 1px 3px 8px;
    border-radius: 25px;
    background: rgb(36, 36, 36);;
  }

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    margin-top: -10px;
    background: rgb(239, 239, 239);
}

a {
    text-decoration:none;
    color:black;
}

.rainbow-button {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:20px;
    width: 80%;
    height: 41.12px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:18px;
    font-weight:bold;
    margin-bottom: 10px;
}

.rainbow-button:after {
    content:attr(alt);
    color: rgb(239, 239, 239);
    width:70%;
    padding: 8px 1px;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.rainbow-button.active{
    color: black;
}

.rainbow-button:hover {
    animation:slidebg 2s linear infinite;
}
  
@keyframes slidebg {
    to {
      background-position:20vw;
    }
}

@media (max-width: 650px){
    h1{
        font-size: 40px;
    }

    .controls{
        align-self: center;
    }

    .container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .grid {
        width: 300px;
        height: 300px;
    }

    .extr-btns{
        align-items: center;
    }
}